*.cache
*.tokens
*.bak
bin
logs
default-processor-logs

config.*.yaml
!config.sample.yaml
config.*.json
!config.sample.json
!config.sample-full.yaml
!config.sample-defaults.yaml

/helm-charts/overrides
/event-logs
/queues
/tools
/local-dev
/tmp

local.*
docker-compose.*.yaml
!guides/resources/docker-compose/*.yaml
!guides/resources/sample-configs/*.yaml
.vscode

sonar-project.properties
.scannerwork
.code-analysis
.idea

*.out
*.csv
*.txt

backup/
dist/
reports/
CHANGELOG.md
test/resources/
test/resources/

.gitlab-ci.yml
.golangci.yml
.goreleaser.yaml
.docker-compose-sonarqube.yaml

Makefile
scripts/*.sh
!scripts/setup.sh
!*.go